.home__add-todo{
    font-size: 22px;
    margin-top: 20px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, .2);
    padding: .5em 1em 1em 1em;

}
.home__add-todo-heading{
    margin-bottom: .7em;
}
.home__add-todo-edit-field{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
}
.home__add-todo-input{
    font-size: 1em;
    flex: 1 1 100%;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: .3em .5em;
}
.home__add-todo-submit-btn{
    font-size: .8em;
    flex: 0 0 auto;
}